{
  "plugins": [
    [
      "prismjs",
      {
        "languages": ["markup", "css", "javascript", "svg", "bash", "json", "typescript"],
        "plugins": [
          "line-highlight",
          "line-numbers",
          "show-language",
          "copy-to-clipboard",
          "toolbar",
          "match-braces",
          "treeview"
        ],
        "theme": "tomorrow-night",
        "css": true
      }
    ]
  ]
}
